@charset "UTF-8";

/*margin left right*/
.t-mlr1 {
  margin: 0 1px !important;
}

.t-mlr2 {
  margin: 0 2px !important;
}

.t-mlr3 {
  margin: 0 3px !important;
}

.t-mlr4 {
  margin: 0 4px !important;
}

.t-mlr5 {
  margin: 0 5px !important;
}

.t-mlr6 {
  margin: 0 6px !important;
}

.t-mlr7 {
  margin: 0 7px !important;
}

.t-mlr8 {
  margin: 0 8px !important;
}

.t-mlr9 {
  margin: 0 9px !important;
}

.t-mlr10 {
  margin: 0 10px !important;
}

.t-mlr11 {
  margin: 0 11px !important;
}

.t-mlr12 {
  margin: 0 12px !important;
}

.t-mlr13 {
  margin: 0 13px !important;
}

.t-mlr14 {
  margin: 0 14px !important;
}

.t-mlr15 {
  margin: 0 15px !important;
}

.t-mlr16 {
  margin: 0 16px !important;
}

.t-mlr17 {
  margin: 0 17px !important;
}

.t-mlr18 {
  margin: 0 18px !important;
}

.t-mlr19 {
  margin: 0 19px !important;
}

.t-mlr20 {
  margin: 0 20px !important;
}

.t-mlr21 {
  margin: 0 21px !important;
}

.t-mlr22 {
  margin: 0 22px !important;
}

.t-mlr23 {
  margin: 0 23px !important;
}

.t-mlr24 {
  margin: 0 24px !important;
}

.t-mlr25 {
  margin: 0 25px !important;
}

.t-mlr26 {
  margin: 0 26px !important;
}

.t-mlr27 {
  margin: 0 27px !important;
}

.t-mlr28 {
  margin: 0 28px !important;
}

.t-mlr29 {
  margin: 0 29px !important;
}

.t-mlr30 {
  margin: 0 30px !important;
}

.t-mlr31 {
  margin: 0 31px !important;
}

.t-mlr32 {
  margin: 0 32px !important;
}

.t-mlr33 {
  margin: 0 33px !important;
}

.t-mlr34 {
  margin: 0 34px !important;
}

.t-mlr35 {
  margin: 0 35px !important;
}

.t-mlr36 {
  margin: 0 36px !important;
}

.t-mlr37 {
  margin: 0 37px !important;
}

.t-mlr38 {
  margin: 0 38px !important;
}

.t-mlr39 {
  margin: 0 39px !important;
}

.t-mlr40 {
  margin: 0 40px !important;
}

.t-mlr41 {
  margin: 0 41px !important;
}

.t-mlr42 {
  margin: 0 42px !important;
}

.t-mlr43 {
  margin: 0 43px !important;
}

.t-mlr44 {
  margin: 0 44px !important;
}

.t-mlr45 {
  margin: 0 45px !important;
}

.t-mlr46 {
  margin: 0 46px !important;
}

.t-mlr47 {
  margin: 0 47px !important;
}

.t-mlr48 {
  margin: 0 48px !important;
}

.t-mlr49 {
  margin: 0 49px !important;
}

.t-mlr50 {
  margin: 0 50px !important;
}

.t-mlr51 {
  margin: 0 51px !important;
}

.t-mlr52 {
  margin: 0 52px !important;
}

.t-mlr53 {
  margin: 0 53px !important;
}

.t-mlr54 {
  margin: 0 54px !important;
}

.t-mlr55 {
  margin: 0 55px !important;
}

.t-mlr56 {
  margin: 0 56px !important;
}

.t-mlr57 {
  margin: 0 57px !important;
}

.t-mlr58 {
  margin: 0 58px !important;
}

.t-mlr59 {
  margin: 0 59px !important;
}

.t-mlr60 {
  margin: 0 60px !important;
}

.t-mlr61 {
  margin: 0 61px !important;
}

.t-mlr62 {
  margin: 0 62px !important;
}

.t-mlr63 {
  margin: 0 63px !important;
}

.t-mlr64 {
  margin: 0 64px !important;
}

.t-mlr65 {
  margin: 0 65px !important;
}

.t-mlr66 {
  margin: 0 66px !important;
}

.t-mlr67 {
  margin: 0 67px !important;
}

.t-mlr68 {
  margin: 0 68px !important;
}

.t-mlr69 {
  margin: 0 69px !important;
}

.t-mlr70 {
  margin: 0 70px !important;
}

.t-mlr71 {
  margin: 0 71px !important;
}

.t-mlr72 {
  margin: 0 72px !important;
}

.t-mlr73 {
  margin: 0 73px !important;
}

.t-mlr74 {
  margin: 0 74px !important;
}

.t-mlr75 {
  margin: 0 75px !important;
}

.t-mlr76 {
  margin: 0 76px !important;
}

.t-mlr77 {
  margin: 0 77px !important;
}

.t-mlr78 {
  margin: 0 78px !important;
}

.t-mlr79 {
  margin: 0 79px !important;
}

.t-mlr80 {
  margin: 0 80px !important;
}

.t-mlr81 {
  margin: 0 81px !important;
}

.t-mlr82 {
  margin: 0 82px !important;
}

.t-mlr83 {
  margin: 0 83px !important;
}

.t-mlr84 {
  margin: 0 84px !important;
}

.t-mlr85 {
  margin: 0 85px !important;
}

.t-mlr86 {
  margin: 0 86px !important;
}

.t-mlr87 {
  margin: 0 87px !important;
}

.t-mlr88 {
  margin: 0 88px !important;
}

.t-mlr89 {
  margin: 0 89px !important;
}

.t-mlr90 {
  margin: 0 90px !important;
}

.t-mlr91 {
  margin: 0 91px !important;
}

.t-mlr92 {
  margin: 0 92px !important;
}

.t-mlr93 {
  margin: 0 93px !important;
}

.t-mlr94 {
  margin: 0 94px !important;
}

.t-mlr95 {
  margin: 0 95px !important;
}

.t-mlr96 {
  margin: 0 96px !important;
}

.t-mlr97 {
  margin: 0 97px !important;
}

.t-mlr98 {
  margin: 0 98px !important;
}

.t-mlr99 {
  margin: 0 99px !important;
}

.t-mlr100 {
  margin: 0 100px !important;
}

/*margin-bottom上边距*/
.t-mt1 {
  margin-top: 1px !important;
}

.t-mt2 {
  margin-top: 2px !important;
}

.t-mt3 {
  margin-top: 3px !important;
}

.t-mt4 {
  margin-top: 4px !important;
}

.t-mt5 {
  margin-top: 5px !important;
}

.t-mt6 {
  margin-top: 6px !important;
}

.t-mt7 {
  margin-top: 7px !important;
}

.t-mt8 {
  margin-top: 8px !important;
}

.t-mt9 {
  margin-top: 9px !important;
}

.t-mt10 {
  margin-top: 10px !important;
}

.t-mt11 {
  margin-top: 11px !important;
}

.t-mt12 {
  margin-top: 12px !important;
}

.t-mt13 {
  margin-top: 13px !important;
}

.t-mt14 {
  margin-top: 14px !important;
}

.t-mt15 {
  margin-top: 15px !important;
}

.t-mt16 {
  margin-top: 16px !important;
}

.t-mt17 {
  margin-top: 17px !important;
}

.t-mt18 {
  margin-top: 18px !important;
}

.t-mt19 {
  margin-top: 19px !important;
}

.t-mt20 {
  margin-top: 20px !important;
}

.t-mt21 {
  margin-top: 21px !important;
}

.t-mt22 {
  margin-top: 22px !important;
}

.t-mt23 {
  margin-top: 23px !important;
}

.t-mt24 {
  margin-top: 24px !important;
}

.t-mt25 {
  margin-top: 25px !important;
}

.t-mt26 {
  margin-top: 26px !important;
}

.t-mt27 {
  margin-top: 27px !important;
}

.t-mt28 {
  margin-top: 28px !important;
}

.t-mt29 {
  margin-top: 29px !important;
}

.t-mt30 {
  margin-top: 30px !important;
}

.t-mt31 {
  margin-top: 31px !important;
}

.t-mt32 {
  margin-top: 32px !important;
}

.t-mt33 {
  margin-top: 33px !important;
}

.t-mt34 {
  margin-top: 34px !important;
}

.t-mt35 {
  margin-top: 35px !important;
}

.t-mt36 {
  margin-top: 36px !important;
}

.t-mt37 {
  margin-top: 37px !important;
}

.t-mt38 {
  margin-top: 38px !important;
}

.t-mt39 {
  margin-top: 39px !important;
}

.t-mt40 {
  margin-top: 40px !important;
}

.t-mt41 {
  margin-top: 41px !important;
}

.t-mt42 {
  margin-top: 42px !important;
}

.t-mt43 {
  margin-top: 43px !important;
}

.t-mt44 {
  margin-top: 44px !important;
}

.t-mt45 {
  margin-top: 45px !important;
}

.t-mt46 {
  margin-top: 46px !important;
}

.t-mt47 {
  margin-top: 47px !important;
}

.t-mt48 {
  margin-top: 48px !important;
}

.t-mt49 {
  margin-top: 49px !important;
}

.t-mt50 {
  margin-top: 50px !important;
}

.t-mt51 {
  margin-top: 51px !important;
}

.t-mt52 {
  margin-top: 52px !important;
}

.t-mt53 {
  margin-top: 53px !important;
}

.t-mt54 {
  margin-top: 54px !important;
}

.t-mt55 {
  margin-top: 55px !important;
}

.t-mt56 {
  margin-top: 56px !important;
}

.t-mt57 {
  margin-top: 57px !important;
}

.t-mt58 {
  margin-top: 58px !important;
}

.t-mt59 {
  margin-top: 59px !important;
}

.t-mt60 {
  margin-top: 60px !important;
}

.t-mt61 {
  margin-top: 61px !important;
}

.t-mt62 {
  margin-top: 62px !important;
}

.t-mt63 {
  margin-top: 63px !important;
}

.t-mt64 {
  margin-top: 64px !important;
}

.t-mt65 {
  margin-top: 65px !important;
}

.t-mt66 {
  margin-top: 66px !important;
}

.t-mt67 {
  margin-top: 67px !important;
}

.t-mt68 {
  margin-top: 68px !important;
}

.t-mt69 {
  margin-top: 69px !important;
}

.t-mt70 {
  margin-top: 70px !important;
}

.t-mt71 {
  margin-top: 71px !important;
}

.t-mt72 {
  margin-top: 72px !important;
}

.t-mt73 {
  margin-top: 73px !important;
}

.t-mt74 {
  margin-top: 74px !important;
}

.t-mt75 {
  margin-top: 75px !important;
}

.t-mt76 {
  margin-top: 76px !important;
}

.t-mt77 {
  margin-top: 77px !important;
}

.t-mt78 {
  margin-top: 78px !important;
}

.t-mt79 {
  margin-top: 79px !important;
}

.t-mt80 {
  margin-top: 80px !important;
}

.t-mt81 {
  margin-top: 81px !important;
}

.t-mt82 {
  margin-top: 82px !important;
}

.t-mt83 {
  margin-top: 83px !important;
}

.t-mt84 {
  margin-top: 84px !important;
}

.t-mt85 {
  margin-top: 85px !important;
}

.t-mt86 {
  margin-top: 86px !important;
}

.t-mt87 {
  margin-top: 87px !important;
}

.t-mt88 {
  margin-top: 88px !important;
}

.t-mt89 {
  margin-top: 89px !important;
}

.t-mt90 {
  margin-top: 90px !important;
}

.t-mt91 {
  margin-top: 91px !important;
}

.t-mt92 {
  margin-top: 92px !important;
}

.t-mt93 {
  margin-top: 93px !important;
}

.t-mt94 {
  margin-top: 94px !important;
}

.t-mt95 {
  margin-top: 95px !important;
}

.t-mt96 {
  margin-top: 96px !important;
}

.t-mt97 {
  margin-top: 97px !important;
}

.t-mt98 {
  margin-top: 98px !important;
}

.t-mt99 {
  margin-top: 99px !important;
}

.t-mt100 {
  margin-top: 100px !important;
}

/*margin-bottom下边距*/
.t-mb1 {
  margin-bottom: 1px !important;
}

.t-mb2 {
  margin-bottom: 2px !important;
}

.t-mb3 {
  margin-bottom: 3px !important;
}

.t-mb4 {
  margin-bottom: 4px !important;
}

.t-mb5 {
  margin-bottom: 5px !important;
}

.t-mb6 {
  margin-bottom: 6px !important;
}

.t-mb7 {
  margin-bottom: 7px !important;
}

.t-mb8 {
  margin-bottom: 8px !important;
}

.t-mb9 {
  margin-bottom: 9px !important;
}

.t-mb10 {
  margin-bottom: 10px !important;
}

.t-mb11 {
  margin-bottom: 11px !important;
}

.t-mb12 {
  margin-bottom: 12px !important;
}

.t-mb13 {
  margin-bottom: 13px !important;
}

.t-mb14 {
  margin-bottom: 14px !important;
}

.t-mb15 {
  margin-bottom: 15px !important;
}

.t-mb16 {
  margin-bottom: 16px !important;
}

.t-mb17 {
  margin-bottom: 17px !important;
}

.t-mb18 {
  margin-bottom: 18px !important;
}

.t-mb19 {
  margin-bottom: 19px !important;
}

.t-mb20 {
  margin-bottom: 20px !important;
}

.t-mb21 {
  margin-bottom: 21px !important;
}

.t-mb22 {
  margin-bottom: 22px !important;
}

.t-mb23 {
  margin-bottom: 23px !important;
}

.t-mb24 {
  margin-bottom: 24px !important;
}

.t-mb25 {
  margin-bottom: 25px !important;
}

.t-mb26 {
  margin-bottom: 26px !important;
}

.t-mb27 {
  margin-bottom: 27px !important;
}

.t-mb28 {
  margin-bottom: 28px !important;
}

.t-mb29 {
  margin-bottom: 29px !important;
}

.t-mb30 {
  margin-bottom: 30px !important;
}

.t-mb31 {
  margin-bottom: 31px !important;
}

.t-mb32 {
  margin-bottom: 32px !important;
}

.t-mb33 {
  margin-bottom: 33px !important;
}

.t-mb34 {
  margin-bottom: 34px !important;
}

.t-mb35 {
  margin-bottom: 35px !important;
}

.t-mb36 {
  margin-bottom: 36px !important;
}

.t-mb37 {
  margin-bottom: 37px !important;
}

.t-mb38 {
  margin-bottom: 38px !important;
}

.t-mb39 {
  margin-bottom: 39px !important;
}

.t-mb40 {
  margin-bottom: 40px !important;
}

.t-mb41 {
  margin-bottom: 41px !important;
}

.t-mb42 {
  margin-bottom: 42px !important;
}

.t-mb43 {
  margin-bottom: 43px !important;
}

.t-mb44 {
  margin-bottom: 44px !important;
}

.t-mb45 {
  margin-bottom: 45px !important;
}

.t-mb46 {
  margin-bottom: 46px !important;
}

.t-mb47 {
  margin-bottom: 47px !important;
}

.t-mb48 {
  margin-bottom: 48px !important;
}

.t-mb49 {
  margin-bottom: 49px !important;
}

.t-mb50 {
  margin-bottom: 50px !important;
}

.t-mb51 {
  margin-bottom: 51px !important;
}

.t-mb52 {
  margin-bottom: 52px !important;
}

.t-mb53 {
  margin-bottom: 53px !important;
}

.t-mb54 {
  margin-bottom: 54px !important;
}

.t-mb55 {
  margin-bottom: 55px !important;
}

.t-mb56 {
  margin-bottom: 56px !important;
}

.t-mb57 {
  margin-bottom: 57px !important;
}

.t-mb58 {
  margin-bottom: 58px !important;
}

.t-mb59 {
  margin-bottom: 59px !important;
}

.t-mb60 {
  margin-bottom: 60px !important;
}

.t-mb61 {
  margin-bottom: 61px !important;
}

.t-mb62 {
  margin-bottom: 62px !important;
}

.t-mb63 {
  margin-bottom: 63px !important;
}

.t-mb64 {
  margin-bottom: 64px !important;
}

.t-mb65 {
  margin-bottom: 65px !important;
}

.t-mb66 {
  margin-bottom: 66px !important;
}

.t-mb67 {
  margin-bottom: 67px !important;
}

.t-mb68 {
  margin-bottom: 68px !important;
}

.t-mb69 {
  margin-bottom: 69px !important;
}

.t-mb70 {
  margin-bottom: 70px !important;
}

.t-mb71 {
  margin-bottom: 71px !important;
}

.t-mb72 {
  margin-bottom: 72px !important;
}

.t-mb73 {
  margin-bottom: 73px !important;
}

.t-mb74 {
  margin-bottom: 74px !important;
}

.t-mb75 {
  margin-bottom: 75px !important;
}

.t-mb76 {
  margin-bottom: 76px !important;
}

.t-mb77 {
  margin-bottom: 77px !important;
}

.t-mb78 {
  margin-bottom: 78px !important;
}

.t-mb79 {
  margin-bottom: 79px !important;
}

.t-mb80 {
  margin-bottom: 80px !important;
}

.t-mb81 {
  margin-bottom: 81px !important;
}

.t-mb82 {
  margin-bottom: 82px !important;
}

.t-mb83 {
  margin-bottom: 83px !important;
}

.t-mb84 {
  margin-bottom: 84px !important;
}

.t-mb85 {
  margin-bottom: 85px !important;
}

.t-mb86 {
  margin-bottom: 86px !important;
}

.t-mb87 {
  margin-bottom: 87px !important;
}

.t-mb88 {
  margin-bottom: 88px !important;
}

.t-mb89 {
  margin-bottom: 89px !important;
}

.t-mb90 {
  margin-bottom: 90px !important;
}

.t-mb91 {
  margin-bottom: 91px !important;
}

.t-mb92 {
  margin-bottom: 92px !important;
}

.t-mb93 {
  margin-bottom: 93px !important;
}

.t-mb94 {
  margin-bottom: 94px !important;
}

.t-mb95 {
  margin-bottom: 95px !important;
}

.t-mb96 {
  margin-bottom: 96px !important;
}

.t-mb97 {
  margin-bottom: 97px !important;
}

.t-mb98 {
  margin-bottom: 98px !important;
}

.t-mb99 {
  margin-bottom: 99px !important;
}

.t-mb100 {
  margin-bottom: 100px !important;
}

/*margin-left左边距*/
.t-ml1 {
  margin-left: 1px !important;
}

.t-ml2 {
  margin-left: 2px !important;
}

.t-ml3 {
  margin-left: 3px !important;
}

.t-ml4 {
  margin-left: 4px !important;
}

.t-ml5 {
  margin-left: 5px !important;
}

.t-ml6 {
  margin-left: 6px !important;
}

.t-ml7 {
  margin-left: 7px !important;
}

.t-ml8 {
  margin-left: 8px !important;
}

.t-ml9 {
  margin-left: 9px !important;
}

.t-ml10 {
  margin-left: 10px !important;
}

.t-ml11 {
  margin-left: 11px !important;
}

.t-ml12 {
  margin-left: 12px !important;
}

.t-ml13 {
  margin-left: 13px !important;
}

.t-ml14 {
  margin-left: 14px !important;
}

.t-ml15 {
  margin-left: 15px !important;
}

.t-ml16 {
  margin-left: 16px !important;
}

.t-ml17 {
  margin-left: 17px !important;
}

.t-ml18 {
  margin-left: 18px !important;
}

.t-ml19 {
  margin-left: 19px !important;
}

.t-ml20 {
  margin-left: 20px !important;
}

.t-ml21 {
  margin-left: 21px !important;
}

.t-ml22 {
  margin-left: 22px !important;
}

.t-ml23 {
  margin-left: 23px !important;
}

.t-ml24 {
  margin-left: 24px !important;
}

.t-ml25 {
  margin-left: 25px !important;
}

.t-ml26 {
  margin-left: 26px !important;
}

.t-ml27 {
  margin-left: 27px !important;
}

.t-ml28 {
  margin-left: 28px !important;
}

.t-ml29 {
  margin-left: 29px !important;
}

.t-ml30 {
  margin-left: 30px !important;
}

.t-ml31 {
  margin-left: 31px !important;
}

.t-ml32 {
  margin-left: 32px !important;
}

.t-ml33 {
  margin-left: 33px !important;
}

.t-ml34 {
  margin-left: 34px !important;
}

.t-ml35 {
  margin-left: 35px !important;
}

.t-ml36 {
  margin-left: 36px !important;
}

.t-ml37 {
  margin-left: 37px !important;
}

.t-ml38 {
  margin-left: 38px !important;
}

.t-ml39 {
  margin-left: 39px !important;
}

.t-ml40 {
  margin-left: 40px !important;
}

.t-ml41 {
  margin-left: 41px !important;
}

.t-ml42 {
  margin-left: 42px !important;
}

.t-ml43 {
  margin-left: 43px !important;
}

.t-ml44 {
  margin-left: 44px !important;
}

.t-ml45 {
  margin-left: 45px !important;
}

.t-ml46 {
  margin-left: 46px !important;
}

.t-ml47 {
  margin-left: 47px !important;
}

.t-ml48 {
  margin-left: 48px !important;
}

.t-ml49 {
  margin-left: 49px !important;
}

.t-ml50 {
  margin-left: 50px !important;
}

.t-ml51 {
  margin-left: 51px !important;
}

.t-ml52 {
  margin-left: 52px !important;
}

.t-ml53 {
  margin-left: 53px !important;
}

.t-ml54 {
  margin-left: 54px !important;
}

.t-ml55 {
  margin-left: 55px !important;
}

.t-ml56 {
  margin-left: 56px !important;
}

.t-ml57 {
  margin-left: 57px !important;
}

.t-ml58 {
  margin-left: 58px !important;
}

.t-ml59 {
  margin-left: 59px !important;
}

.t-ml60 {
  margin-left: 60px !important;
}

.t-ml61 {
  margin-left: 61px !important;
}

.t-ml62 {
  margin-left: 62px !important;
}

.t-ml63 {
  margin-left: 63px !important;
}

.t-ml64 {
  margin-left: 64px !important;
}

.t-ml65 {
  margin-left: 65px !important;
}

.t-ml66 {
  margin-left: 66px !important;
}

.t-ml67 {
  margin-left: 67px !important;
}

.t-ml68 {
  margin-left: 68px !important;
}

.t-ml69 {
  margin-left: 69px !important;
}

.t-ml70 {
  margin-left: 70px !important;
}

.t-ml71 {
  margin-left: 71px !important;
}

.t-ml72 {
  margin-left: 72px !important;
}

.t-ml73 {
  margin-left: 73px !important;
}

.t-ml74 {
  margin-left: 74px !important;
}

.t-ml75 {
  margin-left: 75px !important;
}

.t-ml76 {
  margin-left: 76px !important;
}

.t-ml77 {
  margin-left: 77px !important;
}

.t-ml78 {
  margin-left: 78px !important;
}

.t-ml79 {
  margin-left: 79px !important;
}

.t-ml80 {
  margin-left: 80px !important;
}

.t-ml81 {
  margin-left: 81px !important;
}

.t-ml82 {
  margin-left: 82px !important;
}

.t-ml83 {
  margin-left: 83px !important;
}

.t-ml84 {
  margin-left: 84px !important;
}

.t-ml85 {
  margin-left: 85px !important;
}

.t-ml86 {
  margin-left: 86px !important;
}

.t-ml87 {
  margin-left: 87px !important;
}

.t-ml88 {
  margin-left: 88px !important;
}

.t-ml89 {
  margin-left: 89px !important;
}

.t-ml90 {
  margin-left: 90px !important;
}

.t-ml91 {
  margin-left: 91px !important;
}

.t-ml92 {
  margin-left: 92px !important;
}

.t-ml93 {
  margin-left: 93px !important;
}

.t-ml94 {
  margin-left: 94px !important;
}

.t-ml95 {
  margin-left: 95px !important;
}

.t-ml96 {
  margin-left: 96px !important;
}

.t-ml97 {
  margin-left: 97px !important;
}

.t-ml98 {
  margin-left: 98px !important;
}

.t-ml99 {
  margin-left: 99px !important;
}

.t-ml100 {
  margin-left: 100px !important;
}

/*margin-right右边距*/
.t-mr1 {
  margin-right: 1px !important;
}

.t-mr2 {
  margin-right: 2px !important;
}

.t-mr3 {
  margin-right: 3px !important;
}

.t-mr4 {
  margin-right: 4px !important;
}

.t-mr5 {
  margin-right: 5px !important;
}

.t-mr6 {
  margin-right: 6px !important;
}

.t-mr7 {
  margin-right: 7px !important;
}

.t-mr8 {
  margin-right: 8px !important;
}

.t-mr9 {
  margin-right: 9px !important;
}

.t-mr10 {
  margin-right: 10px !important;
}

.t-mr11 {
  margin-right: 11px !important;
}

.t-mr12 {
  margin-right: 12px !important;
}

.t-mr13 {
  margin-right: 13px !important;
}

.t-mr14 {
  margin-right: 14px !important;
}

.t-mr15 {
  margin-right: 15px !important;
}

.t-mr16 {
  margin-right: 16px !important;
}

.t-mr17 {
  margin-right: 17px !important;
}

.t-mr18 {
  margin-right: 18px !important;
}

.t-mr19 {
  margin-right: 19px !important;
}

.t-mr20 {
  margin-right: 20px !important;
}

.t-mr21 {
  margin-right: 21px !important;
}

.t-mr22 {
  margin-right: 22px !important;
}

.t-mr23 {
  margin-right: 23px !important;
}

.t-mr24 {
  margin-right: 24px !important;
}

.t-mr25 {
  margin-right: 25px !important;
}

.t-mr26 {
  margin-right: 26px !important;
}

.t-mr27 {
  margin-right: 27px !important;
}

.t-mr28 {
  margin-right: 28px !important;
}

.t-mr29 {
  margin-right: 29px !important;
}

.t-mr30 {
  margin-right: 30px !important;
}

.t-mr31 {
  margin-right: 31px !important;
}

.t-mr32 {
  margin-right: 32px !important;
}

.t-mr33 {
  margin-right: 33px !important;
}

.t-mr34 {
  margin-right: 34px !important;
}

.t-mr35 {
  margin-right: 35px !important;
}

.t-mr36 {
  margin-right: 36px !important;
}

.t-mr37 {
  margin-right: 37px !important;
}

.t-mr38 {
  margin-right: 38px !important;
}

.t-mr39 {
  margin-right: 39px !important;
}

.t-mr40 {
  margin-right: 40px !important;
}

.t-mr41 {
  margin-right: 41px !important;
}

.t-mr42 {
  margin-right: 42px !important;
}

.t-mr43 {
  margin-right: 43px !important;
}

.t-mr44 {
  margin-right: 44px !important;
}

.t-mr45 {
  margin-right: 45px !important;
}

.t-mr46 {
  margin-right: 46px !important;
}

.t-mr47 {
  margin-right: 47px !important;
}

.t-mr48 {
  margin-right: 48px !important;
}

.t-mr49 {
  margin-right: 49px !important;
}

.t-mr50 {
  margin-right: 50px !important;
}

.t-mr51 {
  margin-right: 51px !important;
}

.t-mr52 {
  margin-right: 52px !important;
}

.t-mr53 {
  margin-right: 53px !important;
}

.t-mr54 {
  margin-right: 54px !important;
}

.t-mr55 {
  margin-right: 55px !important;
}

.t-mr56 {
  margin-right: 56px !important;
}

.t-mr57 {
  margin-right: 57px !important;
}

.t-mr58 {
  margin-right: 58px !important;
}

.t-mr59 {
  margin-right: 59px !important;
}

.t-mr60 {
  margin-right: 60px !important;
}

.t-mr61 {
  margin-right: 61px !important;
}

.t-mr62 {
  margin-right: 62px !important;
}

.t-mr63 {
  margin-right: 63px !important;
}

.t-mr64 {
  margin-right: 64px !important;
}

.t-mr65 {
  margin-right: 65px !important;
}

.t-mr66 {
  margin-right: 66px !important;
}

.t-mr67 {
  margin-right: 67px !important;
}

.t-mr68 {
  margin-right: 68px !important;
}

.t-mr69 {
  margin-right: 69px !important;
}

.t-mr70 {
  margin-right: 70px !important;
}

.t-mr71 {
  margin-right: 71px !important;
}

.t-mr72 {
  margin-right: 72px !important;
}

.t-mr73 {
  margin-right: 73px !important;
}

.t-mr74 {
  margin-right: 74px !important;
}

.t-mr75 {
  margin-right: 75px !important;
}

.t-mr76 {
  margin-right: 76px !important;
}

.t-mr77 {
  margin-right: 77px !important;
}

.t-mr78 {
  margin-right: 78px !important;
}

.t-mr79 {
  margin-right: 79px !important;
}

.t-mr80 {
  margin-right: 80px !important;
}

.t-mr81 {
  margin-right: 81px !important;
}

.t-mr82 {
  margin-right: 82px !important;
}

.t-mr83 {
  margin-right: 83px !important;
}

.t-mr84 {
  margin-right: 84px !important;
}

.t-mr85 {
  margin-right: 85px !important;
}

.t-mr86 {
  margin-right: 86px !important;
}

.t-mr87 {
  margin-right: 87px !important;
}

.t-mr88 {
  margin-right: 88px !important;
}

.t-mr89 {
  margin-right: 89px !important;
}

.t-mr90 {
  margin-right: 90px !important;
}

.t-mr91 {
  margin-right: 91px !important;
}

.t-mr92 {
  margin-right: 92px !important;
}

.t-mr93 {
  margin-right: 93px !important;
}

.t-mr94 {
  margin-right: 94px !important;
}

.t-mr95 {
  margin-right: 95px !important;
}

.t-mr96 {
  margin-right: 96px !important;
}

.t-mr97 {
  margin-right: 97px !important;
}

.t-mr98 {
  margin-right: 98px !important;
}

.t-mr99 {
  margin-right: 99px !important;
}

.t-mr100 {
  margin-right: 100px !important;
}

/*padding left right*/
.t-plr1 {
  padding: 0 1px !important;
}

.t-plr2 {
  padding: 0 2px !important;
}

.t-plr3 {
  padding: 0 3px !important;
}

.t-plr4 {
  padding: 0 4px !important;
}

.t-plr5 {
  padding: 0 5px !important;
}

.t-plr6 {
  padding: 0 6px !important;
}

.t-plr7 {
  padding: 0 7px !important;
}

.t-plr8 {
  padding: 0 8px !important;
}

.t-plr9 {
  padding: 0 9px !important;
}

.t-plr10 {
  padding: 0 10px !important;
}

.t-plr11 {
  padding: 0 11px !important;
}

.t-plr12 {
  padding: 0 12px !important;
}

.t-plr13 {
  padding: 0 13px !important;
}

.t-plr14 {
  padding: 0 14px !important;
}

.t-plr15 {
  padding: 0 15px !important;
}

.t-plr16 {
  padding: 0 16px !important;
}

.t-plr17 {
  padding: 0 17px !important;
}

.t-plr18 {
  padding: 0 18px !important;
}

.t-plr19 {
  padding: 0 19px !important;
}

.t-plr20 {
  padding: 0 20px !important;
}

.t-plr21 {
  padding: 0 21px !important;
}

.t-plr22 {
  padding: 0 22px !important;
}

.t-plr23 {
  padding: 0 23px !important;
}

.t-plr24 {
  padding: 0 24px !important;
}

.t-plr25 {
  padding: 0 25px !important;
}

.t-plr26 {
  padding: 0 26px !important;
}

.t-plr27 {
  padding: 0 27px !important;
}

.t-plr28 {
  padding: 0 28px !important;
}

.t-plr29 {
  padding: 0 29px !important;
}

.t-plr30 {
  padding: 0 30px !important;
}

.t-plr31 {
  padding: 0 31px !important;
}

.t-plr32 {
  padding: 0 32px !important;
}

.t-plr33 {
  padding: 0 33px !important;
}

.t-plr34 {
  padding: 0 34px !important;
}

.t-plr35 {
  padding: 0 35px !important;
}

.t-plr36 {
  padding: 0 36px !important;
}

.t-plr37 {
  padding: 0 37px !important;
}

.t-plr38 {
  padding: 0 38px !important;
}

.t-plr39 {
  padding: 0 39px !important;
}

.t-plr40 {
  padding: 0 40px !important;
}

.t-plr41 {
  padding: 0 41px !important;
}

.t-plr42 {
  padding: 0 42px !important;
}

.t-plr43 {
  padding: 0 43px !important;
}

.t-plr44 {
  padding: 0 44px !important;
}

.t-plr45 {
  padding: 0 45px !important;
}

.t-plr46 {
  padding: 0 46px !important;
}

.t-plr47 {
  padding: 0 47px !important;
}

.t-plr48 {
  padding: 0 48px !important;
}

.t-plr49 {
  padding: 0 49px !important;
}

.t-plr50 {
  padding: 0 50px !important;
}

.t-plr51 {
  padding: 0 51px !important;
}

.t-plr52 {
  padding: 0 52px !important;
}

.t-plr53 {
  padding: 0 53px !important;
}

.t-plr54 {
  padding: 0 54px !important;
}

.t-plr55 {
  padding: 0 55px !important;
}

.t-plr56 {
  padding: 0 56px !important;
}

.t-plr57 {
  padding: 0 57px !important;
}

.t-plr58 {
  padding: 0 58px !important;
}

.t-plr59 {
  padding: 0 59px !important;
}

.t-plr60 {
  padding: 0 60px !important;
}

.t-plr61 {
  padding: 0 61px !important;
}

.t-plr62 {
  padding: 0 62px !important;
}

.t-plr63 {
  padding: 0 63px !important;
}

.t-plr64 {
  padding: 0 64px !important;
}

.t-plr65 {
  padding: 0 65px !important;
}

.t-plr66 {
  padding: 0 66px !important;
}

.t-plr67 {
  padding: 0 67px !important;
}

.t-plr68 {
  padding: 0 68px !important;
}

.t-plr69 {
  padding: 0 69px !important;
}

.t-plr70 {
  padding: 0 70px !important;
}

.t-plr71 {
  padding: 0 71px !important;
}

.t-plr72 {
  padding: 0 72px !important;
}

.t-plr73 {
  padding: 0 73px !important;
}

.t-plr74 {
  padding: 0 74px !important;
}

.t-plr75 {
  padding: 0 75px !important;
}

.t-plr76 {
  padding: 0 76px !important;
}

.t-plr77 {
  padding: 0 77px !important;
}

.t-plr78 {
  padding: 0 78px !important;
}

.t-plr79 {
  padding: 0 79px !important;
}

.t-plr80 {
  padding: 0 80px !important;
}

.t-plr81 {
  padding: 0 81px !important;
}

.t-plr82 {
  padding: 0 82px !important;
}

.t-plr83 {
  padding: 0 83px !important;
}

.t-plr84 {
  padding: 0 84px !important;
}

.t-plr85 {
  padding: 0 85px !important;
}

.t-plr86 {
  padding: 0 86px !important;
}

.t-plr87 {
  padding: 0 87px !important;
}

.t-plr88 {
  padding: 0 88px !important;
}

.t-plr89 {
  padding: 0 89px !important;
}

.t-plr90 {
  padding: 0 90px !important;
}

.t-plr91 {
  padding: 0 91px !important;
}

.t-plr92 {
  padding: 0 92px !important;
}

.t-plr93 {
  padding: 0 93px !important;
}

.t-plr94 {
  padding: 0 94px !important;
}

.t-plr95 {
  padding: 0 95px !important;
}

.t-plr96 {
  padding: 0 96px !important;
}

.t-plr97 {
  padding: 0 97px !important;
}

.t-plr98 {
  padding: 0 98px !important;
}

.t-plr99 {
  padding: 0 99px !important;
}

.t-plr100 {
  padding: 0 100px !important;
}

/*padding-bottom上边距*/
.t-pt1 {
  padding-top: 1px !important;
}

.t-pt2 {
  padding-top: 2px !important;
}

.t-pt3 {
  padding-top: 3px !important;
}

.t-pt4 {
  padding-top: 4px !important;
}

.t-pt5 {
  padding-top: 5px !important;
}

.t-pt6 {
  padding-top: 6px !important;
}

.t-pt7 {
  padding-top: 7px !important;
}

.t-pt8 {
  padding-top: 8px !important;
}

.t-pt9 {
  padding-top: 9px !important;
}

.t-pt10 {
  padding-top: 10px !important;
}

.t-pt11 {
  padding-top: 11px !important;
}

.t-pt12 {
  padding-top: 12px !important;
}

.t-pt13 {
  padding-top: 13px !important;
}

.t-pt14 {
  padding-top: 14px !important;
}

.t-pt15 {
  padding-top: 15px !important;
}

.t-pt16 {
  padding-top: 16px !important;
}

.t-pt17 {
  padding-top: 17px !important;
}

.t-pt18 {
  padding-top: 18px !important;
}

.t-pt19 {
  padding-top: 19px !important;
}

.t-pt20 {
  padding-top: 20px !important;
}

.t-pt21 {
  padding-top: 21px !important;
}

.t-pt22 {
  padding-top: 22px !important;
}

.t-pt23 {
  padding-top: 23px !important;
}

.t-pt24 {
  padding-top: 24px !important;
}

.t-pt25 {
  padding-top: 25px !important;
}

.t-pt26 {
  padding-top: 26px !important;
}

.t-pt27 {
  padding-top: 27px !important;
}

.t-pt28 {
  padding-top: 28px !important;
}

.t-pt29 {
  padding-top: 29px !important;
}

.t-pt30 {
  padding-top: 30px !important;
}

.t-pt31 {
  padding-top: 31px !important;
}

.t-pt32 {
  padding-top: 32px !important;
}

.t-pt33 {
  padding-top: 33px !important;
}

.t-pt34 {
  padding-top: 34px !important;
}

.t-pt35 {
  padding-top: 35px !important;
}

.t-pt36 {
  padding-top: 36px !important;
}

.t-pt37 {
  padding-top: 37px !important;
}

.t-pt38 {
  padding-top: 38px !important;
}

.t-pt39 {
  padding-top: 39px !important;
}

.t-pt40 {
  padding-top: 40px !important;
}

.t-pt41 {
  padding-top: 41px !important;
}

.t-pt42 {
  padding-top: 42px !important;
}

.t-pt43 {
  padding-top: 43px !important;
}

.t-pt44 {
  padding-top: 44px !important;
}

.t-pt45 {
  padding-top: 45px !important;
}

.t-pt46 {
  padding-top: 46px !important;
}

.t-pt47 {
  padding-top: 47px !important;
}

.t-pt48 {
  padding-top: 48px !important;
}

.t-pt49 {
  padding-top: 49px !important;
}

.t-pt50 {
  padding-top: 50px !important;
}

.t-pt51 {
  padding-top: 51px !important;
}

.t-pt52 {
  padding-top: 52px !important;
}

.t-pt53 {
  padding-top: 53px !important;
}

.t-pt54 {
  padding-top: 54px !important;
}

.t-pt55 {
  padding-top: 55px !important;
}

.t-pt56 {
  padding-top: 56px !important;
}

.t-pt57 {
  padding-top: 57px !important;
}

.t-pt58 {
  padding-top: 58px !important;
}

.t-pt59 {
  padding-top: 59px !important;
}

.t-pt60 {
  padding-top: 60px !important;
}

.t-pt61 {
  padding-top: 61px !important;
}

.t-pt62 {
  padding-top: 62px !important;
}

.t-pt63 {
  padding-top: 63px !important;
}

.t-pt64 {
  padding-top: 64px !important;
}

.t-pt65 {
  padding-top: 65px !important;
}

.t-pt66 {
  padding-top: 66px !important;
}

.t-pt67 {
  padding-top: 67px !important;
}

.t-pt68 {
  padding-top: 68px !important;
}

.t-pt69 {
  padding-top: 69px !important;
}

.t-pt70 {
  padding-top: 70px !important;
}

.t-pt71 {
  padding-top: 71px !important;
}

.t-pt72 {
  padding-top: 72px !important;
}

.t-pt73 {
  padding-top: 73px !important;
}

.t-pt74 {
  padding-top: 74px !important;
}

.t-pt75 {
  padding-top: 75px !important;
}

.t-pt76 {
  padding-top: 76px !important;
}

.t-pt77 {
  padding-top: 77px !important;
}

.t-pt78 {
  padding-top: 78px !important;
}

.t-pt79 {
  padding-top: 79px !important;
}

.t-pt80 {
  padding-top: 80px !important;
}

.t-pt81 {
  padding-top: 81px !important;
}

.t-pt82 {
  padding-top: 82px !important;
}

.t-pt83 {
  padding-top: 83px !important;
}

.t-pt84 {
  padding-top: 84px !important;
}

.t-pt85 {
  padding-top: 85px !important;
}

.t-pt86 {
  padding-top: 86px !important;
}

.t-pt87 {
  padding-top: 87px !important;
}

.t-pt88 {
  padding-top: 88px !important;
}

.t-pt89 {
  padding-top: 89px !important;
}

.t-pt90 {
  padding-top: 90px !important;
}

.t-pt91 {
  padding-top: 91px !important;
}

.t-pt92 {
  padding-top: 92px !important;
}

.t-pt93 {
  padding-top: 93px !important;
}

.t-pt94 {
  padding-top: 94px !important;
}

.t-pt95 {
  padding-top: 95px !important;
}

.t-pt96 {
  padding-top: 96px !important;
}

.t-pt97 {
  padding-top: 97px !important;
}

.t-pt98 {
  padding-top: 98px !important;
}

.t-pt99 {
  padding-top: 99px !important;
}

.t-pt100 {
  padding-top: 100px !important;
}

/*padding-bottom下边距*/
.t-pb1 {
  padding-bottom: 1px !important;
}

.t-pb2 {
  padding-bottom: 2px !important;
}

.t-pb3 {
  padding-bottom: 3px !important;
}

.t-pb4 {
  padding-bottom: 4px !important;
}

.t-pb5 {
  padding-bottom: 5px !important;
}

.t-pb6 {
  padding-bottom: 6px !important;
}

.t-pb7 {
  padding-bottom: 7px !important;
}

.t-pb8 {
  padding-bottom: 8px !important;
}

.t-pb9 {
  padding-bottom: 9px !important;
}

.t-pb10 {
  padding-bottom: 10px !important;
}

.t-pb11 {
  padding-bottom: 11px !important;
}

.t-pb12 {
  padding-bottom: 12px !important;
}

.t-pb13 {
  padding-bottom: 13px !important;
}

.t-pb14 {
  padding-bottom: 14px !important;
}

.t-pb15 {
  padding-bottom: 15px !important;
}

.t-pb16 {
  padding-bottom: 16px !important;
}

.t-pb17 {
  padding-bottom: 17px !important;
}

.t-pb18 {
  padding-bottom: 18px !important;
}

.t-pb19 {
  padding-bottom: 19px !important;
}

.t-pb20 {
  padding-bottom: 20px !important;
}

.t-pb21 {
  padding-bottom: 21px !important;
}

.t-pb22 {
  padding-bottom: 22px !important;
}

.t-pb23 {
  padding-bottom: 23px !important;
}

.t-pb24 {
  padding-bottom: 24px !important;
}

.t-pb25 {
  padding-bottom: 25px !important;
}

.t-pb26 {
  padding-bottom: 26px !important;
}

.t-pb27 {
  padding-bottom: 27px !important;
}

.t-pb28 {
  padding-bottom: 28px !important;
}

.t-pb29 {
  padding-bottom: 29px !important;
}

.t-pb30 {
  padding-bottom: 30px !important;
}

.t-pb31 {
  padding-bottom: 31px !important;
}

.t-pb32 {
  padding-bottom: 32px !important;
}

.t-pb33 {
  padding-bottom: 33px !important;
}

.t-pb34 {
  padding-bottom: 34px !important;
}

.t-pb35 {
  padding-bottom: 35px !important;
}

.t-pb36 {
  padding-bottom: 36px !important;
}

.t-pb37 {
  padding-bottom: 37px !important;
}

.t-pb38 {
  padding-bottom: 38px !important;
}

.t-pb39 {
  padding-bottom: 39px !important;
}

.t-pb40 {
  padding-bottom: 40px !important;
}

.t-pb41 {
  padding-bottom: 41px !important;
}

.t-pb42 {
  padding-bottom: 42px !important;
}

.t-pb43 {
  padding-bottom: 43px !important;
}

.t-pb44 {
  padding-bottom: 44px !important;
}

.t-pb45 {
  padding-bottom: 45px !important;
}

.t-pb46 {
  padding-bottom: 46px !important;
}

.t-pb47 {
  padding-bottom: 47px !important;
}

.t-pb48 {
  padding-bottom: 48px !important;
}

.t-pb49 {
  padding-bottom: 49px !important;
}

.t-pb50 {
  padding-bottom: 50px !important;
}

.t-pb51 {
  padding-bottom: 51px !important;
}

.t-pb52 {
  padding-bottom: 52px !important;
}

.t-pb53 {
  padding-bottom: 53px !important;
}

.t-pb54 {
  padding-bottom: 54px !important;
}

.t-pb55 {
  padding-bottom: 55px !important;
}

.t-pb56 {
  padding-bottom: 56px !important;
}

.t-pb57 {
  padding-bottom: 57px !important;
}

.t-pb58 {
  padding-bottom: 58px !important;
}

.t-pb59 {
  padding-bottom: 59px !important;
}

.t-pb60 {
  padding-bottom: 60px !important;
}

.t-pb61 {
  padding-bottom: 61px !important;
}

.t-pb62 {
  padding-bottom: 62px !important;
}

.t-pb63 {
  padding-bottom: 63px !important;
}

.t-pb64 {
  padding-bottom: 64px !important;
}

.t-pb65 {
  padding-bottom: 65px !important;
}

.t-pb66 {
  padding-bottom: 66px !important;
}

.t-pb67 {
  padding-bottom: 67px !important;
}

.t-pb68 {
  padding-bottom: 68px !important;
}

.t-pb69 {
  padding-bottom: 69px !important;
}

.t-pb70 {
  padding-bottom: 70px !important;
}

.t-pb71 {
  padding-bottom: 71px !important;
}

.t-pb72 {
  padding-bottom: 72px !important;
}

.t-pb73 {
  padding-bottom: 73px !important;
}

.t-pb74 {
  padding-bottom: 74px !important;
}

.t-pb75 {
  padding-bottom: 75px !important;
}

.t-pb76 {
  padding-bottom: 76px !important;
}

.t-pb77 {
  padding-bottom: 77px !important;
}

.t-pb78 {
  padding-bottom: 78px !important;
}

.t-pb79 {
  padding-bottom: 79px !important;
}

.t-pb80 {
  padding-bottom: 80px !important;
}

.t-pb81 {
  padding-bottom: 81px !important;
}

.t-pb82 {
  padding-bottom: 82px !important;
}

.t-pb83 {
  padding-bottom: 83px !important;
}

.t-pb84 {
  padding-bottom: 84px !important;
}

.t-pb85 {
  padding-bottom: 85px !important;
}

.t-pb86 {
  padding-bottom: 86px !important;
}

.t-pb87 {
  padding-bottom: 87px !important;
}

.t-pb88 {
  padding-bottom: 88px !important;
}

.t-pb89 {
  padding-bottom: 89px !important;
}

.t-pb90 {
  padding-bottom: 90px !important;
}

.t-pb91 {
  padding-bottom: 91px !important;
}

.t-pb92 {
  padding-bottom: 92px !important;
}

.t-pb93 {
  padding-bottom: 93px !important;
}

.t-pb94 {
  padding-bottom: 94px !important;
}

.t-pb95 {
  padding-bottom: 95px !important;
}

.t-pb96 {
  padding-bottom: 96px !important;
}

.t-pb97 {
  padding-bottom: 97px !important;
}

.t-pb98 {
  padding-bottom: 98px !important;
}

.t-pb99 {
  padding-bottom: 99px !important;
}

.t-pb100 {
  padding-bottom: 100px !important;
}

/*padding-left左边距*/
.t-pl1 {
  padding-left: 1px !important;
}

.t-pl2 {
  padding-left: 2px !important;
}

.t-pl3 {
  padding-left: 3px !important;
}

.t-pl4 {
  padding-left: 4px !important;
}

.t-pl5 {
  padding-left: 5px !important;
}

.t-pl6 {
  padding-left: 6px !important;
}

.t-pl7 {
  padding-left: 7px !important;
}

.t-pl8 {
  padding-left: 8px !important;
}

.t-pl9 {
  padding-left: 9px !important;
}

.t-pl10 {
  padding-left: 10px !important;
}

.t-pl11 {
  padding-left: 11px !important;
}

.t-pl12 {
  padding-left: 12px !important;
}

.t-pl13 {
  padding-left: 13px !important;
}

.t-pl14 {
  padding-left: 14px !important;
}

.t-pl15 {
  padding-left: 15px !important;
}

.t-pl16 {
  padding-left: 16px !important;
}

.t-pl17 {
  padding-left: 17px !important;
}

.t-pl18 {
  padding-left: 18px !important;
}

.t-pl19 {
  padding-left: 19px !important;
}

.t-pl20 {
  padding-left: 20px !important;
}

.t-pl21 {
  padding-left: 21px !important;
}

.t-pl22 {
  padding-left: 22px !important;
}

.t-pl23 {
  padding-left: 23px !important;
}

.t-pl24 {
  padding-left: 24px !important;
}

.t-pl25 {
  padding-left: 25px !important;
}

.t-pl26 {
  padding-left: 26px !important;
}

.t-pl27 {
  padding-left: 27px !important;
}

.t-pl28 {
  padding-left: 28px !important;
}

.t-pl29 {
  padding-left: 29px !important;
}

.t-pl30 {
  padding-left: 30px !important;
}

.t-pl31 {
  padding-left: 31px !important;
}

.t-pl32 {
  padding-left: 32px !important;
}

.t-pl33 {
  padding-left: 33px !important;
}

.t-pl34 {
  padding-left: 34px !important;
}

.t-pl35 {
  padding-left: 35px !important;
}

.t-pl36 {
  padding-left: 36px !important;
}

.t-pl37 {
  padding-left: 37px !important;
}

.t-pl38 {
  padding-left: 38px !important;
}

.t-pl39 {
  padding-left: 39px !important;
}

.t-pl40 {
  padding-left: 40px !important;
}

.t-pl41 {
  padding-left: 41px !important;
}

.t-pl42 {
  padding-left: 42px !important;
}

.t-pl43 {
  padding-left: 43px !important;
}

.t-pl44 {
  padding-left: 44px !important;
}

.t-pl45 {
  padding-left: 45px !important;
}

.t-pl46 {
  padding-left: 46px !important;
}

.t-pl47 {
  padding-left: 47px !important;
}

.t-pl48 {
  padding-left: 48px !important;
}

.t-pl49 {
  padding-left: 49px !important;
}

.t-pl50 {
  padding-left: 50px !important;
}

.t-pl51 {
  padding-left: 51px !important;
}

.t-pl52 {
  padding-left: 52px !important;
}

.t-pl53 {
  padding-left: 53px !important;
}

.t-pl54 {
  padding-left: 54px !important;
}

.t-pl55 {
  padding-left: 55px !important;
}

.t-pl56 {
  padding-left: 56px !important;
}

.t-pl57 {
  padding-left: 57px !important;
}

.t-pl58 {
  padding-left: 58px !important;
}

.t-pl59 {
  padding-left: 59px !important;
}

.t-pl60 {
  padding-left: 60px !important;
}

.t-pl61 {
  padding-left: 61px !important;
}

.t-pl62 {
  padding-left: 62px !important;
}

.t-pl63 {
  padding-left: 63px !important;
}

.t-pl64 {
  padding-left: 64px !important;
}

.t-pl65 {
  padding-left: 65px !important;
}

.t-pl66 {
  padding-left: 66px !important;
}

.t-pl67 {
  padding-left: 67px !important;
}

.t-pl68 {
  padding-left: 68px !important;
}

.t-pl69 {
  padding-left: 69px !important;
}

.t-pl70 {
  padding-left: 70px !important;
}

.t-pl71 {
  padding-left: 71px !important;
}

.t-pl72 {
  padding-left: 72px !important;
}

.t-pl73 {
  padding-left: 73px !important;
}

.t-pl74 {
  padding-left: 74px !important;
}

.t-pl75 {
  padding-left: 75px !important;
}

.t-pl76 {
  padding-left: 76px !important;
}

.t-pl77 {
  padding-left: 77px !important;
}

.t-pl78 {
  padding-left: 78px !important;
}

.t-pl79 {
  padding-left: 79px !important;
}

.t-pl80 {
  padding-left: 80px !important;
}

.t-pl81 {
  padding-left: 81px !important;
}

.t-pl82 {
  padding-left: 82px !important;
}

.t-pl83 {
  padding-left: 83px !important;
}

.t-pl84 {
  padding-left: 84px !important;
}

.t-pl85 {
  padding-left: 85px !important;
}

.t-pl86 {
  padding-left: 86px !important;
}

.t-pl87 {
  padding-left: 87px !important;
}

.t-pl88 {
  padding-left: 88px !important;
}

.t-pl89 {
  padding-left: 89px !important;
}

.t-pl90 {
  padding-left: 90px !important;
}

.t-pl91 {
  padding-left: 91px !important;
}

.t-pl92 {
  padding-left: 92px !important;
}

.t-pl93 {
  padding-left: 93px !important;
}

.t-pl94 {
  padding-left: 94px !important;
}

.t-pl95 {
  padding-left: 95px !important;
}

.t-pl96 {
  padding-left: 96px !important;
}

.t-pl97 {
  padding-left: 97px !important;
}

.t-pl98 {
  padding-left: 98px !important;
}

.t-pl99 {
  padding-left: 99px !important;
}

.t-pl100 {
  padding-left: 100px !important;
}

/*padding-right右边距*/
.t-pr1 {
  padding-right: 1px !important;
}

.t-pr2 {
  padding-right: 2px !important;
}

.t-pr3 {
  padding-right: 3px !important;
}

.t-pr4 {
  padding-right: 4px !important;
}

.t-pr5 {
  padding-right: 5px !important;
}

.t-pr6 {
  padding-right: 6px !important;
}

.t-pr7 {
  padding-right: 7px !important;
}

.t-pr8 {
  padding-right: 8px !important;
}

.t-pr9 {
  padding-right: 9px !important;
}

.t-pr10 {
  padding-right: 10px !important;
}

.t-pr11 {
  padding-right: 11px !important;
}

.t-pr12 {
  padding-right: 12px !important;
}

.t-pr13 {
  padding-right: 13px !important;
}

.t-pr14 {
  padding-right: 14px !important;
}

.t-pr15 {
  padding-right: 15px !important;
}

.t-pr16 {
  padding-right: 16px !important;
}

.t-pr17 {
  padding-right: 17px !important;
}

.t-pr18 {
  padding-right: 18px !important;
}

.t-pr19 {
  padding-right: 19px !important;
}

.t-pr20 {
  padding-right: 20px !important;
}

.t-pr21 {
  padding-right: 21px !important;
}

.t-pr22 {
  padding-right: 22px !important;
}

.t-pr23 {
  padding-right: 23px !important;
}

.t-pr24 {
  padding-right: 24px !important;
}

.t-pr25 {
  padding-right: 25px !important;
}

.t-pr26 {
  padding-right: 26px !important;
}

.t-pr27 {
  padding-right: 27px !important;
}

.t-pr28 {
  padding-right: 28px !important;
}

.t-pr29 {
  padding-right: 29px !important;
}

.t-pr30 {
  padding-right: 30px !important;
}

.t-pr31 {
  padding-right: 31px !important;
}

.t-pr32 {
  padding-right: 32px !important;
}

.t-pr33 {
  padding-right: 33px !important;
}

.t-pr34 {
  padding-right: 34px !important;
}

.t-pr35 {
  padding-right: 35px !important;
}

.t-pr36 {
  padding-right: 36px !important;
}

.t-pr37 {
  padding-right: 37px !important;
}

.t-pr38 {
  padding-right: 38px !important;
}

.t-pr39 {
  padding-right: 39px !important;
}

.t-pr40 {
  padding-right: 40px !important;
}

.t-pr41 {
  padding-right: 41px !important;
}

.t-pr42 {
  padding-right: 42px !important;
}

.t-pr43 {
  padding-right: 43px !important;
}

.t-pr44 {
  padding-right: 44px !important;
}

.t-pr45 {
  padding-right: 45px !important;
}

.t-pr46 {
  padding-right: 46px !important;
}

.t-pr47 {
  padding-right: 47px !important;
}

.t-pr48 {
  padding-right: 48px !important;
}

.t-pr49 {
  padding-right: 49px !important;
}

.t-pr50 {
  padding-right: 50px !important;
}

.t-pr51 {
  padding-right: 51px !important;
}

.t-pr52 {
  padding-right: 52px !important;
}

.t-pr53 {
  padding-right: 53px !important;
}

.t-pr54 {
  padding-right: 54px !important;
}

.t-pr55 {
  padding-right: 55px !important;
}

.t-pr56 {
  padding-right: 56px !important;
}

.t-pr57 {
  padding-right: 57px !important;
}

.t-pr58 {
  padding-right: 58px !important;
}

.t-pr59 {
  padding-right: 59px !important;
}

.t-pr60 {
  padding-right: 60px !important;
}

.t-pr61 {
  padding-right: 61px !important;
}

.t-pr62 {
  padding-right: 62px !important;
}

.t-pr63 {
  padding-right: 63px !important;
}

.t-pr64 {
  padding-right: 64px !important;
}

.t-pr65 {
  padding-right: 65px !important;
}

.t-pr66 {
  padding-right: 66px !important;
}

.t-pr67 {
  padding-right: 67px !important;
}

.t-pr68 {
  padding-right: 68px !important;
}

.t-pr69 {
  padding-right: 69px !important;
}

.t-pr70 {
  padding-right: 70px !important;
}

.t-pr71 {
  padding-right: 71px !important;
}

.t-pr72 {
  padding-right: 72px !important;
}

.t-pr73 {
  padding-right: 73px !important;
}

.t-pr74 {
  padding-right: 74px !important;
}

.t-pr75 {
  padding-right: 75px !important;
}

.t-pr76 {
  padding-right: 76px !important;
}

.t-pr77 {
  padding-right: 77px !important;
}

.t-pr78 {
  padding-right: 78px !important;
}

.t-pr79 {
  padding-right: 79px !important;
}

.t-pr80 {
  padding-right: 80px !important;
}

.t-pr81 {
  padding-right: 81px !important;
}

.t-pr82 {
  padding-right: 82px !important;
}

.t-pr83 {
  padding-right: 83px !important;
}

.t-pr84 {
  padding-right: 84px !important;
}

.t-pr85 {
  padding-right: 85px !important;
}

.t-pr86 {
  padding-right: 86px !important;
}

.t-pr87 {
  padding-right: 87px !important;
}

.t-pr88 {
  padding-right: 88px !important;
}

.t-pr89 {
  padding-right: 89px !important;
}

.t-pr90 {
  padding-right: 90px !important;
}

.t-pr91 {
  padding-right: 91px !important;
}

.t-pr92 {
  padding-right: 92px !important;
}

.t-pr93 {
  padding-right: 93px !important;
}

.t-pr94 {
  padding-right: 94px !important;
}

.t-pr95 {
  padding-right: 95px !important;
}

.t-pr96 {
  padding-right: 96px !important;
}

.t-pr97 {
  padding-right: 97px !important;
}

.t-pr98 {
  padding-right: 98px !important;
}

.t-pr99 {
  padding-right: 99px !important;
}

.t-pr100 {
  padding-right: 100px !important;
}

/*字号 */
.t-fz12 {
  font-size: 12px !important;
}

.t-fz13 {
  font-size: 13px !important;
}

.t-fz14 {
  font-size: 14px !important;
}

.t-fz15 {
  font-size: 15px !important;
}

.t-fz16 {
  font-size: 16px !important;
}

.t-fz17 {
  font-size: 17px !important;
}

.t-fz18 {
  font-size: 18px !important;
}

.t-fz19 {
  font-size: 19px !important;
}

.t-fz20 {
  font-size: 20px !important;
}

.t-fz21 {
  font-size: 21px !important;
}

.t-fz22 {
  font-size: 22px !important;
}

.t-fz23 {
  font-size: 23px !important;
}

.t-fz24 {
  font-size: 24px !important;
}

.t-fz25 {
  font-size: 25px !important;
}

.t-fz26 {
  font-size: 26px !important;
}

.t-fz27 {
  font-size: 27px !important;
}

.t-fz28 {
  font-size: 28px !important;
}

.t-fz29 {
  font-size: 29px !important;
}

.t-fz30 {
  font-size: 30px !important;
}

.t-fz31 {
  font-size: 31px !important;
}

.t-fz32 {
  font-size: 32px !important;
}

.t-fz33 {
  font-size: 33px !important;
}

.t-fz34 {
  font-size: 34px !important;
}

.t-fz35 {
  font-size: 35px !important;
}

.t-fz36 {
  font-size: 36px !important;
}

.t-fz37 {
  font-size: 37px !important;
}

.t-fz38 {
  font-size: 38px !important;
}

.t-fz39 {
  font-size: 39px !important;
}

.t-fz40 {
  font-size: 40px !important;
}

/* 颜色 */
.t-color-333 {
  color: #333333;
}

.t-color-666 {
  color: #666666;
}

.t-color-999 {
  color: #999999;
}

.t-color-eee {
  color: #EEEEEE;
}

.t-color-fff {
  color: #FFFFFF;
}

.t-color-blue {
  color: #1FA0DC;
}

.t-color-orange {
  color: #f7a623;
}

.t-color-red {
  color: #da4949;
}

/* 取消下载按钮 */
/* video::-internal-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px);
}*/
a:hover {
  opacity: 0.8;
}

/* 背景*/
.t-bgf {
  background: #fff;
}

.t-bg0 {
  background: #000;
}

/* 边框 */
.t-bor0 {
  border: none !important;
}

.t-borT0 {
  border-top: none !important;
}

.t-borB0 {
  border-top: none !important;
}

.t-borL0 {
  border-top: none !important;
}

.t-borR0 {
  border-top: none !important;
}

/*第几行省略*/
.t-ellipsis1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.t-ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.t-ellipsis3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.t-ellipsis4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.t-ellipsis5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.t-ellipsis6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.t-ellipsis7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}

.t-ellipsis8 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}

.t-ellipsis9 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}

.t-ellipsis10 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

/*常用公共*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.container12 {
  width: 1200px;
  margin: 0 auto;
}
